<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About this site</h1>

    <p>This app was built by <a target="_blank" href="https://github.com/emmahoffman720">Emma</a> with beginning web developers in mind. Use this site to generate ideas for simple web pages for the student and hobbyist alike to create. You never run out of ideas, just sometimes struggle to think of one.  When you do come to a site like this to help find a solution.  And at the same time share with others the brilliant ideas you come up with in the spur of the moment.
    </p>
    <br />
    <p>If you would like to learn more about coding and web development <a target="_blank" href= "www.thefirehoseproject.com">click here.</a> 
    </p>

    <div class="col-xs-12 col-sm-4" style="padding-top:30px;">
    <%= image_tag 'profile-pic.jpg', class: 'img-responsive' %>
  </div>
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Emma Hoffman</h2>
    <br />
    <p>
      Emma Hoffman is a student currently enrolled in<a target="_blank" href="www.thefirehoseproject.com"> The Firehose Project</a> while also working as a barista.  This site was part of the curiculum at The Firehose Project to show what was taught in the beginning few chapters. It wraps up all the information cumutively and builds another web app of your choice to allow more practice.  
    </p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />