<h2> 
  <span>IDEA / No. <%= @idea.id %> </span>
  Here are the <u>best ideas</u> for a web site you can get!
</h2>

<h1><%= @idea.idea %></h1>
<h2>- <%= @idea.whatisit %></h2>

<br class="clear" />
<br />
<br />
<br />