<div class = "col-xs-10 col-xs-offset-1 layout">
  <h1> Layout examples </h1>

<br />
<br />
<br />

  <div class="col-xs-12 col-sm-7">
    <%= image_tag 'BlurredSplashPage.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-4 col-sm-offset-1">
    <h2 class="text-center">Splash Page</h2>
    <br />
    <p>
      This is clear and simple page that does exactly what it is supposed to do.  Introduce you to the rest of the web.
    </p>

  </div>


  <br class="clear" />
  <br />
  <br />
  <br />
  <br />